// Reset CSS
@import 'reset';

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Color Theme Swatches in Hex */
$secondary-color-lighter: lighten(rgb(18, 124, 187), 50%);
$secondary-color-darker: darken(rgb(18, 124, 187), 1);
$secondary-color: rgb(18, 124, 187);
$text-color: #f0f0f0;
$primary-color: #9ca1a6;
$primary-color-lighter: lighten(#9ca1a6, 50%);
$primary-color-darker: darken(#9ca1a6, 1);

/* Breaks */
$mobile-break: 600px;
$tablet-break: 750px;
$laptop-break: 1040px;

:root {
  @media (max-width: $mobile-break) {
    font-size: 0.8rem;
  }
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  background-color: $primary-color;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;

  @media (max-width: $mobile-break) {
    position: absolute;
  }

  img {
    margin-left: 1.5rem;
    width: 2.5rem;
  }

  .nav {
    padding: 0 1rem;

    @media (max-width: $mobile-break) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    a {
      text-decoration: none;
      font-size: 1.1rem;
      color: $text-color;
      letter-spacing: 0.3rem;
      margin: 0 1.3rem;
      display: inline-block;
      padding: 0.4rem 0;
      transition: 0.3s;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

main {
  width: 100vw;
  height: 100vh;
  .image-container {
    background-image: url('https://images.unsplash.com/photo-1597773150796-e5c14ebecbf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
    height: 500px;
    width: 100vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    @media (max-width: $mobile-break) {
      height: 100vh;
    }

    h1 {
      font-size: 6rem;
      font-weight: bold;
    }

    p {
      font-size: 1rem;
      font-weight: lighter;
      margin: 2rem;
    }
  }

  .about {
    margin: 0 auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      text-align: center;
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
    }

    p {
      margin: 2rem;
    }
  }

  .services {
    background-image: linear-gradient(white, $primary-color);
    text-align: center;
    margin-top: 5rem;

    @media (max-width: $mobile-break) {
      margin: 0;
    }

    h2 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 4rem;
    }

    .container-grid {
      max-width: 960px;
      margin: 1rem auto 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 4rem;
      row-gap: 6rem;
      padding: 4rem 2rem;

      @media (max-width: $tablet-break) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: $mobile-break) {
        grid-template-columns: 1fr;
      }
    }

    &-info {
      background-color: white;
      border-radius: 1rem;
      padding: 2rem;
      position: relative;
      box-shadow: 1px 1px 1rem 1px gray;

      span {
        @media (max-width: $mobile-break) {
          background-color: $secondary-color;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          border-radius: 0.5rem 0.5rem 0 0;
        }
      }

      img {
        width: 3.5rem;
        background-color: $secondary-color;
        padding: 0.7rem;
        border-radius: 30%;
        position: absolute;
        top: -40px;
        left: 40%;

        @media (max-width: $mobile-break) {
          position: initial;
          background-color: initial;
        }

        @media (max-width: $mobile-break) {
          margin: 0 auto;
        }
      }

      h3 {
        font-size: 1.3rem;
        font-weight: bold;

        @media (max-width: $mobile-break) {
          margin-top: 3rem;
        }
      }

      p {
        font-weight: lighter;
        margin: 1rem;

        @media (max-width: $mobile-break) {
          margin: 2rem auto;
        }
      }

      a {
        text-decoration: none;
        background-color: black;
        color: $text-color;
        border-radius: 0.5rem;
        padding: 0.5rem;
        position: absolute;
        bottom: -1rem;
        right: 40%;

        @media (max-width: $mobile-break) {
          bottom: 0;
          right: 0;
          width: 100%;
          padding: 0.8rem;
          border-radius: 0 0 0.5rem 0.5rem;
        }

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

footer {
  background-color: $primary-color-darker;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;

  @media (max-width: $mobile-break) {
    flex-direction: column;
  }

  .contacts-links {
    display: flex;
  }

  a {
    width: 2rem;
    margin: 1rem;
  }
}

.container {
  margin: 0 auto;
  max-width: 860px;
  padding: 8%;
}
